<div class="main-view">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1><a class="navbar-brand" href="">Swapi</a></h1>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="" ui-sref='main' ui-sref-active='active'>People List</a></li>
                <li><a href="" ui-sref='main.favorites' ui-sref-active='active'>Favorites</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" ui-view>
      <h1>Main view</h1>
    </div>
</div>
