<div class="main-view">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Swapi</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="" ui-sref='main' ui-sref-active='active'>People List</a></li>
                <li><a href="" ui-sref='main.favorites' ui-sref-active='active'>Favorites</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" ui-view>
        <ul class="people list-group" when-scrolled="mainCtrlr.morePeople()">
            <li class="list-group-item" ng-repeat="person in mainCtrlr.people">
                <sw-person-card person="person"></sw-person-card>
            </li>
        </ul>
        <div class="row">
            <div class="col-xs-12" ng-if="mainCtrlr.noData">
                <p class="bg-danger text-danger alert-msg">
                    No more data to load from SWAPI API.
                </p>
            </div>
        </div>
    </div>
</div>
