<div class="person-card">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success btn-block"type="button" name="favorites">Add to Favorites</button>
    </div>
  </div>
  <table class='table results-xs-table'>
    <colgroup>
      <col class="col-xs-6"></col>
      <col class="col-xs-6"></col>
    </colgroup>
    <tr>
      <th>
        Name
      </th>
      <td>
        {{::ctrl.person.name}}
      </td>
    </tr>
    <tr>
      <th>
        Gender
      </th>
      <td>
        {{::ctrl.person.gender}}
      </td>
    </tr>
    <tr>
      <th>
        Hair Color
      </th>
      <td>
        {{::ctrl.person.hair_color}}
      </td>
    </tr>
    <tr>
      <th>
        Skin Color
      </th>
      <td>
        {{::ctrl.person.skin_color}}
      </td>
    </tr>
    <tr>
      <th>
        Eye Color
      </th>
      <td>
        {{::ctrl.person.eye_color}}
      </td>
    </tr>
    <tr>
      <th>
        Birth Year
      </th>
      <td>
        {{::ctrl.person.birth_year}}
      </td>
    </tr>
  </table>
</div>
